# Ignore Python virtual environment
Backend/venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django stuff
*.sqlite3

# Ignore Node modules (frontend)
frontend/node_modules/
node_modules/

# Ignore build files
build/
dist/

# Ignore environment files
.env
*.env