# ================== CORE ==================
SECRET_KEY=your_django_secret_key_here
ADMIN_JWT_SECRET=your_admin_jwt_secret_here

# ================== ENCRYPTION ==================
SECRET_ENCRYPTION_KEY=your_fernet_key_here

# ================== DATABASE ==================
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# ================== DEPLOYMENT ==================
DEBUG=True
ALLOWED_HOSTS=*

# ================== MINIO ==================
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=attendance-media
MINIO_ENDPOINT=http://localhost:9000

# ================== DOCKER ==================
RUNNING_IN_DOCKER=False

# ================== APP JWT ==================
APP_JWT_SECRET=your_app_jwt_secret_here
APP_JWT_EXPIRY_HOURS=24